@define-color selected-text #7daea3;
@define-color text #ddc7a1;
@define-color base #141617;
@define-color border #32302f;
@define-color foreground #ddc7a1;
@define-color background #1d2021;

.box-wrapper {
  border-radius: 8px;
}
