@define-color bg #1d2021;
@define-color fg #ddc7a1;
@define-color gray1 #a9b665;
@define-color gray2 #32302f;
@define-color gray3 #7daea3;
@define-color gray4 #d8a657;
@define-color gray5 #d3869b;
@define-color fg_bright #ddc7a1;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}